/*==================
 ABOUT SECTION
====================*/
#mu-about-us{
    width: 100%;
    padding: 50px 0;
    .mu-about-us-area{
        width: 100%;
        .mu-about-us-left{
            width: 100%;
            h2{
                font-size: 40px;
                //margin-bottom: 20px;
                text-align: left;
            }
            p{

            }
            ul{
                margin-left: 25px;
                margin-bottom: 15px;
                li{
                    line-height: 30px;
                    list-style: circle;
                }
            }
        }
        .mu-about-us-right{
            max-width: 100%;
			height: auto;
			min-height: 350px;
            display: block;
            //height: 100%;
            //background-color: #ccc;
            a{
                display: block;
                width: 100%;
                position: relative;
                img{
                    width: 100%;
                }
                &:after{
                    background-color: rgba(0, 0, 0, 0.8);
                    bottom: 0;
                    color: #ddd;
                    content: '\f04b';
                    font-family: fontAwesome;
                    font-size: 50px;
                    left: 0;
                    padding-top: 27%;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }
            }
        }
    }
}


/*==== about us dynamic video player ====*/
#about-video-popup{
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    bottom:0;
    z-index: 99999;
    span{
        color: #fff;
        cursor: pointer;
        float: right;
        font-size: 30px;
        margin-right: 50px;
        margin-top: 50px;
    }
    iframe{
        //background:url(@/assets/images/loader.gif) center center no-repeat;
        //background:url(images/loader.gif) center center no-repeat;
        //background:url(~static/images/loader.gif) center center no-repeat;
        //background:url(@/assets/images/loader.gif) center center no-repeat;
        //background:url(@/assets/images/loader.gif) center center no-repeat;
        //background:url(@/assets/images/loader.gif) center center no-repeat;
        //margin: 10% auto;
        //width: 650px;
        //height: 450px;
    }
}
