/*==================
 TESTIMONIAL SECTION
====================*/
#mu-latest-courses {
	//color: white;

	//display: flex;
	//margin: 0 auto;
	background-attachment: fixed;
	background-image: url("~static/images/layouts/latest-courses/latest-courses-bg.jpg");
	background-position: center center;
	background-size: cover;
	//display: inline;
	//float: left;
	padding: 100px 0;
	position: relative;
	//width: 100%;
	z-index: 1;
	//justify-content: center;
	//&:after{
	//	background-color: rgba(0,0,0,0.2);
	//	content: '';
	//	position: absolute;
	//	left: 0;
	//	top: 0;
	//	bottom: 0;
	//	right: 0;
	//}

}
//.slick-dots{
//	li{
//		background-color: #fff;
//		height: 8px;
//		width: 20px;
//		button{
//			display: none;
//		}
//	}
//}
