<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Назад</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; Назад</span>
  {% endif %}

  <span class="pagination  pagination--counter">Страница {{ paginator.page }} из {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">Вперёд &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">Вперёд &rarr;</span>
  {% endif %}

</nav>
